<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css"
    integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.theme.default.min.css"
    integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/index.css" />

  <title>{{title}}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><b>Sneakiie</b></a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <div class="btn text-light">Thương hiệu</div>
          <div class="dropdown-menu">
            {{#each brands}}
            <a class="dropdown-item" href="/thuong-hieu/{{this.slug}}">{{this.name}}</a>
            {{/each}}
          </div>
        </li>
      </ul>
      <form class="form-inline" action="/tim-kiem">
        <input class="form-control" type="search" name="q" placeholder="Tìm kiếm" />
        <button class="btn btn-link" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <a class="btn" href="/gio-hang">
        <i class="fas fa-shopping-cart"></i>
      </a>
      {{#if user}}
      <div class="nav-item dropdown">
        <i class="btn btn-link fas fa-user" style="color: turquoise"></i>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item text-right" href="/tai-khoan">Thông tin tài khoản</a>
          <a class="dropdown-item text-right" href="/don-hang">Lịch sử mua hàng</a>
          <a class="dropdown-item text-right" href="/api/signout">Đăng xuất</a>
        </div>
      </div>
      {{else}}
      <div class="nav-item dropdown">
        <i class="btn btn-link fas fa-user"></i>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/tai-khoan/dang-nhap">Đăng nhập</a>
          <a class="dropdown-item" href="/tai-khoan/dang-ky">Đăng ký</a>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
  <br>
  <main>
    {{{body}}}
  </main>

  <footer>
    <div class="container d-flex">
      <div class="col">
        <h6>Hỗ trợ</h6>
        <ul class="nav flex-column">
          {{#if user}}
          <li class="nav-item">
            <a href="/tai-khoan">Quản lý tài khoản</a>
          </li>
          <li class="nav-item">
            <a href="/don-hang">Lịch sử mua hàng</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="/tai-khoan/dang-nhap">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a href="/tai-khoan/dang-ky">Đăng ký</a>
          </li>
          {{/if}}
          </li>
          <li class="nav-item">
            <a href="/dieu-khoan-su-dung">Điều khoản sử dụng</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h6>Phương thức thanh toán</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <i class="fas fa-money-bill"></i> Tiền mặt
          </li>
          <li class="nav-item">
            <i class="fab fa-cc-paypal"></i> Paypal
          </li>
          <li class="nav-item">
            <i class="fab fa-cc-visa"></i> Thẻ thanh toán quốc tế
          </li>
          <li class="nav-item">
            <i class="far fa-credit-paper"></i> Thẻ thanh toán nội địa
          </li>
        </ul>
      </div>
      <div class="col">
        <h6>Thông tin liên hệ</h6>
        Địa chỉ shop: 227 Nguyễn Văn Cừ, Quận 5, Tp HCM
        <br>
        Số điện thoại: 0123455555
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"
    integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-lazy@1.7.10/jquery.lazy.min.js"
    integrity="sha256-F1PsuZtrEWg+kzpvQ5sTsw8l1uJks9BFNVew39S2rZU=" crossorigin="anonymous"></script>
  <script src="/js/parsley.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>