<div class="container-fluid">
  <div class="owl-carousel owl-theme" id="banner">
    {{#each banners}}
    <div class="item"><img src={{this}} /></div>
    {{/each}}
  </div>
  <div class="card">
    <h4>Hàng mới về</h4>
    <div class="owl-carousel owl-theme" id="newArrivals">
      {{#each newArrivals}}
      <a href="/san-pham/{{this.id}}">
        <div>
          <img class="lazy" data-src={{this.img}}>
          <h6>{{this.name}}</h6>
          <p style="color: red;">{{this.price}}</p>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <div class="card">
    <h4>Sản phẩm bán chạy </h4>
    <div class="owl-carousel owl-theme" id="hotItems">
      {{#each hotItems}}
      <a href="/san-pham/{{this.id}}">
        <div>
          <img class="lazy" data-src={{this.img}}>
          <h6>{{this.name}}</h6>
          <p style="color: red;">{{this.price}}</p>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <div class="card">
    <h4>Thương hiệu</h4>
    <div class="owl-carousel owl-theme" id="brands">
      {{#each brands}}
      <a href="/thuong-hieu/{{this.id}}">
        <div>
          <img class="lazy" data-src={{this.img}}>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</div>