<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/thuong-hieu/{{item.brandid}}">{{item.brand}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
    </ol>
  </nav>
  <div class="row">
    <div class="paper flat col">
      <div class="owl-carousel owl-theme" id="banner">
        <div class="item"><img src={{item.imgs}} /></div>
      </div>
    </div>
    <div class="paper col">
      <h5>{{item.name}}</h5>
      <p>Thương hiệu: <a href="/category">{{item.brand}}</a></p>
      <h6 style="color: red; font-weight: bold;">{{item.price}}<span> ₫</span></h6>
      {{{item.description}}}
      <hr />
      <div>
        <p>Kích cỡ: </p>
        <select class="form-control w-25">
          {{#each item.size}}
          <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
      <br />
      <a class="btn btn-primary" href="/gio-hang?id={{item.id}},size={{item.size}}">Thêm
        vào giỏ hàng</a>
    </div>
  </div>
  <br />
</div>