<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/thuong-hieu/{{brand.slug}}">{{brand.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between">
    <div class="paper flat col-6">
      <div class="owl-carousel owl-theme" id="banner">
        <div class="item"><img src={{item.imgs}} /></div>
      </div>
    </div>
    <div class="paper col-6">
      <h4>{{item.name}}</h4>
      <p>Thương hiệu: <a href="/thuong-hieu/{{brand.slug}}">{{brand.name}}</a></p>
      <h6 class="price">{{item.price}} ₫</h6>
      {{{item.description}}}
      <hr />
      <div>
        <p>Kích cỡ: </p>
        <select class="form-control w-25">
          {{#each item.size}}
          <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
      <br />
      <a class="btn btn-primary" href="/gio-hang?id={{item.id}},size={{item.size}}">Thêm
        vào giỏ hàng</a>
    </div>
  </div>
  <br />
  {{#if sameBrand}}
  <div class="paper">
    <h5><span>Sản phẩm cùng thương hiệu</span></h5>
    <hr>
    <div class="owl-carousel owl-theme">
      {{#each sameBrand}}
      <a href="/san-pham/{{this.slug}}">
        <img src={{this.imgUrls}}>
        <h6>{{this.name}}</h6>
        <p class="price">{{this.price}} ₫</p>
      </a>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>