<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Danh mục</li>
      <li class="breadcrumb-item active" aria-current="page">{{brand}}</li>
    </ol>
  </nav>
  {{#if list}}
  <div class="row">
    {{#each list}}
    <a href="/san-pham/{{this.id}}" class="paper col-2">
      <img class="lazy" data-src={{this.imgUrls}} style="max-width: 100%">
      <hr>
      <h6>{{this.name}}</h6>
      <p class="price">{{this.price}} ₫</p>
    </a>
    {{/each}}
  </div>
  {{else}}
  Hiện không có sản phẩm nào thuộc danh mục này.
  {{/if}}
</div>