<div class="container">
  <nav aria-label="breadcrumb" class="d-flex">
    <ol class="breadcrumb col-12 col-md-6">
      <li class="breadcrumb-item">Thương hiệu</li>
      <li class="breadcrumb-item active" aria-current="page">{{brand.name}}</li>
    </ol>
    <div class="col-12 col-md-6">
      <a class="btn" disabled>Ưu tiên theo:</a>
      <a class="btn" href="?order=newest">Hàng mới</a>
      <a class="btn" href="?order=top">Bán chạy</a>
      <a class="btn" href="?order=asc">Giá thấp</a>
      <a class="btn" href="?order=desc">Giá cao</a>
    </div>
  </nav>

  {{#if list}}
  <div class="d-flex flex-wrap">
    {{#each list}}
    <a href="/san-pham/{{this.slug}}" class="col-3">
      <div class="paper">
        <img class="lazy" data-src={{this.images}} style="max-width: 100%">
        <hr>
        <h6>{{this.name}}</h6>
        <p class="price">{{this.price}} ₫</p>
      </div>
    </a>
    {{/each}}
  </div>
  <br>
  {{else}}
  Hiện không có sản phẩm nào thuộc danh mục này.
  {{/if}}
</div>